*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#content{
    display: flex;
    border: 2px solid;
    /* justify-content: flex-end;
    flex-direction: row-reverse; */
    justify-content: space-;
    align-items: flex-end;
    /* flex-wrap: wrap; */
    height: 100vh;
    /* align-content: center; */
    gap: 400px;
}
.c1{
    order: 420;
}
.c2{
    order: 37;
}
.c3{
    order: 69;
}