*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F8F8F8;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 300px;
    text-align: center;
}
img{
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 60px 45px 5px rgba(0, 0, 0, 0.132);
}
.big{
    width: 420px;
}
.small{
    width: 200px;
}
p{
    color: #EABF77;
    font-weight: bolder;
    font-size: smaller;
}
span{
    background-color: white;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 25px;
    padding: 5px 0px;
    transform: translateY(-10px);
}