* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background: #1E1E1E;
}

header div{
    color: #D4AF37;
    font-size: 22px;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 24px;
}

nav a {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 14px;
}

/* MAIN */
main{
    display: flex;
    gap: 35px;
    padding: 50px 30px;
    background: #F9F5F0;
    padding-bottom: 50px;
}   

main div{
    display: flex;
    background: white;
    border-radius: 12px;
    padding: 25px 25px;
    flex-direction: column;
    gap: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19);
}

main h2{
    color: #D4AF37;
}

main p{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    font-weight: bolder;
}
main img{
    width: 400px;
    height: 300px;
    align-self: center;
    border-radius: 15px;  
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background: #1E1E1E;
    color: #DDDDDD;
    font-size: 12px;
}

footer div{
    display: flex;
    gap: 20px;
}

footer a{
    color: #DDDDDD;
    text-decoration: none;
}